body
  background-color #f0f0f0
  padding 0
  margin 0
  font-size 14px
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif

#document
  margin-top 20px

.block
  background-color #9fdcaf
  margin-bottom 15px

  &__element
    color #333333
    padding 20px 30px

  &_head
    background-color #ffc3c3

  &_footer
    background-color #afaee6