.container
  .row
    .col-lg-24
      .block.block_head
        .block__element
          | Header

.container-fluid
  .row
    .col-lg-18
      .block
        .block__element
          | This is main container

    .col-lg-6
      .block
        .block__element
          | This is sidebar

  .row
    .col-lg-12
      .block
        .block__element
          | Container

    .col-lg-12
      .block
        .block__element
          | Container

.container-fluid
  .row
    .col-lg-24
      .block.block_footer
        .block__element
          | Footer